{% extends "base.html" %}

{% block title%}sobre {% endblock %}

    </div>
    <main>
       
       
       
       
       
       
        {% block content %}
        <table class="table">
            <thead>
                <tr>
                    <th>nome</th>
                    <th>curso</th>
                    <th>turma</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
        
       
       
    </main>
    {% endblock %}
</body>
</html>





