{% extends 'base.html'%}

{% load static %}
{% block content %} 


        <section class="introducao">
            <h2>Transforme sua maneira de ler e compartilhar livros</h2>
            <p>Na <strong>Livraria Digital</strong>, nossa missão é transformar a maneira como você acessa e compartilha livros. Sabemos que a leitura é uma das maiores fontes de conhecimento e diversão, e queremos tornar esse processo ainda mais </p>
        </section>


        <main>
            <section class="introducao">
                <h2>Transforme sua maneira de ler e compartilhar livros</h2>
                <p>Na <strong>Livraria Digital</strong>, nossa missão é transformar a maneira como você acessa e compartilha livros. Sabemos que a leitura é uma das maiores fontes de conhecimento e diversão, e queremos tornar esse processo ainda mais acessível para todos.</p>
            </section>

            <section class="introducao">
                <h2>Transforme sua maneira de ler e compartilhar livros</h2>
                <p>Na <strong>Livraria Digital</strong>, nossa missão é transformar a maneira como você acessa e compartilha livros. Sabemos que a leitura é uma das maiores fontes de conhecimento e diversão, e queremos tornar esse processo ainda mais </p>
            </section>
    
    
            <main>
                <section class="introducao">
                    <h2>Transforme sua maneira de ler e compartilhar livros</h2>
                    <p>Na <strong>Livraria Digital</strong>, nossa missão é transformar a maneira como você acessa e compartilha livros. Sabemos que a leitura é uma das maiores fontes de conhecimento e diversão, e queremos tornar esse processo ainda mais acessível para todos.</p>
                </section>

        <section class="servicos">
            <h3>Empréstimo de Livros Digitalizados</h3>
            <p>Com nosso serviço de <strong>empréstimo de livros digitais</strong>, você pode acessar uma vasta coleção de títulos de diversos gêneros, a qualquer hora e de qualquer lugar. Se você é um amante da leitura, mas não tem tempo para ir até uma biblioteca ou livraria física, nossa plataforma oferece uma solução prática e simples. Basta escolher o livro, fazer o empréstimo e começar a leitura instantaneamente em seu dispositivo!</p>
            
            <h3>Cadastro de Livros</h3>
            <p>Se você é um autor, editor ou simplesmente um entusiasta da literatura que deseja compartilhar sua obra com outros leitores, temos a opção perfeita para você! Através do nosso serviço de <strong>cadastro de livros</strong>, você pode adicionar suas obras à nossa plataforma, tornando-as acessíveis para milhares de leitores em todo o país. Seu livro pode ganhar vida no universo digital e atingir uma audiência global, sem sair de casa!</p>
        </section>

        <section class="beneficios">
            <h3>Por que escolher a Livraria Digital?</h3>
            <ul>
                <li>Acesso instantâneo: empreste e leia livros digitais a qualquer momento.</li>
                <li>Variedade de títulos: uma vasta coleção de livros de diferentes gêneros, desde clássicos até lançamentos recentes.</li>
                <li>Compartilhamento fácil: cadastre e disponibilize suas próprias obras para que outros leitores também possam desfrutar.</li>
                <li>Simples e prático: nosso sistema foi desenvolvido para tornar o processo de leitura e cadastro o mais fácil e rápido possível.</li>
            </ul>
        </section>

        <section class="conclusao">
            <p>Explore nosso catálogo e comece sua jornada literária conosco. Seja para emprestar ou cadastrar livros, estamos aqui para promover a literatura e fazer da leitura uma experiência acessível e prazerosa para todos.</p>
            <p><strong>Livraria Digital</strong> – <strong>Leia. Compartilhe. Cresça.</strong></p>
        </section>

        <section><p>Numero para contato: 55 21 989499201</p>
                <p>Instagram: livraria_digitalSG</p></section>
                <p>Email: livrariadigitalsg@gmail.com</p>
                <p>Pix para nos apoiar: 55 21 989499201 ou livrariadigitalsg@gmail.com </p>
{% endblock %}
