header {
    background-color: #000; /* Cor escura para o cabeçalho */
    padding: 5px;
    width: 100%;
    text-align: top;
    position: fixed;
    width: 100%;
    top: 0;}

nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;}


nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 20px;}
    



/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    position: absolute;
}

/* Cabeçalho */
header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

/* Seções */
main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2, h3 {
    color: #000000;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Lista de benefícios */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    font-size: 16px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
