<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Livraria Digital</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="catalogo.html">cadastre livros</a></li>
                <li><a href="alugar.html">Empréstimo</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="emprestimo">
            <h2>Nosso Catálago</h2>
            <p>Veja nossos livros, e se dejegar pegue emprestado!</p>
            <div class="livros">
                <div class="livro">
                    <img src="" alt="Livro 1">
                    <p>O Senhor dos Anéis</p>
                    <button class="btn-emprestimo">Veja Mais...</button>
                </div>
                <div class="livro">
                    <img src="livro2.jpg" alt="Livro 2">
                    <p>Harry Potter e a Pedra Filosofal</p>
                    <button class="btn-emprestimo">Veja Mais...</button>
                </div>
                <div class="livro">
                    <img src="livro3.jpg" alt="Livro 3">
                    <p>A Culpa é das Estrelas</p>
                    <button class="btn-emprestimo">Veja Mais...</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Livraria Digital. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
